<section class="pageContainer">
    <section class="card3 roboto">
        <p class="f700 heading">{{viewPost.name}}</p>
        <p class="f300 date">{{format_time viewPost.date_created}} | {{viewPost.user.name}}</p>
        <p class="f400 desc">{{viewPost.description}}</p>
    </section>
    <section class="shareButtons">
        {{!-- Share icons in here --}}
    </section>
</section>
<section class="add-comment roboto">
    <form class="form comment-form font">
      <div class="form-group">
        <textarea class="form-input" type="text" id="comment"  placeholder="Add a comment" required></textarea>
      </div>
      <div class="form-group add-container">
        <button class="btn btn-primary log" type="submit" id="commentButton" post-id="{{viewPost.id}}">Comment</button>
      </div>
    </form>
</section>
<section class="comments roboto">
    {{#each currentComments}}
    <section class="comment">
        <img src="{{user.picture}}" class="profile-icon"/>
        <div class="commentCon">
            <p>{{this.comment}}</p>
        </div>
        <section class="poster roboto">
            <p>{{user.name}} | {{format_time this.date_created}}</p>
        </section>
    </section>
    {{/each}}
</section>