<section class="container">
    {{#if homeStatus}}
    {{#each posts}}
    <a href="/page/comment/{{this.id}}" class="card">
        <section class="roboto">
            <p class="f700 heading">{{this.name}}</p>
            <p class="f300 date">{{format_time this.date_created}} | {{this.user.name}}</p>
            <p class="f400 desc">{{this.description}}</p>
            <img src="/Images/heart.png" class="non-heart" data-update-id="{{this.id}}"/>
            <img src="/Images/hearted.png" class="heart" data-update-id="{{this.id}}"/>
        </section>
    </a>
    {{/each}}
    {{else}}
    <section class="newContainer">
        <img class="nodata" src="/images/nodata.svg"/>
        <p class="font f400 validate noPost">No one has posted yet</p>
    </section>
    {{/if}}
</section>
